<div id="welcomeContainer">
  <div>
  <input type="radio" id="info"name="section"value="1">
  <label for="info">
    <i class="fa fa-info"></i></label>
  </div>
  <div>
  <input type="radio" id="login" name="section"value="2">
  <label for="login">
    <i class="fa fa-key"></i></label>
  </div>
  <div>
  <input type="radio" id="articles" name="section"value="3">
  <label for="articles">
    <i class="fa fa-newspaper-o"></i></label>
  </div>
</div>
