<form action='/articles'method="post">
  <label>Author:</label>
  <input type="text" name="article[author]" placeholder="Author">
  <label>Title:</label>
  <input type="text" name="article[title]" placeholder="Title">
  <label>Content</label>
  <textarea name="article[content]"></textarea>
  <input type="submit" value="Add Article" />
</form>
