<form id="site" class="index" action='/articles'method="post">
  <label>Author:</label><br>
  <input type="text" name="article[author]" placeholder="Author"><br>
  <label>Title:</label><br>
  <input type="text" name="article[title]" placeholder="Title"><br>
  <label>Category:</label><br>
  <input type="text" name="article[category]" placeholder="Category"><br>
  <label>Image Link:</label><br>
  <input type="text" name="article[image]" placeholder="Category"><br>
  <label>Content</label><br>
  <textarea name="article[content]"></textarea><br>
  <input type="submit" value="Add Article" />
</form>
