<h3>Welcome, <%= currentUser %></h3>
<ul class="overlying">
  <li class="home"><a href='/'><i class="fa fa-bolt fa-lg"></a></i></li>
  <li class="side"><a href="http://www.paypal.com">Donate</li>
  <li class="side"><a href="users/<%= currentId %>">User</li>
  <li class="side"><a href="#">Random</li>
  <li class="side"><a href="/articles/new">New Article</a></li>
</ul>
