<form id="site" class="index" action='/users/login'method="post">
  <label>Username:</label>
  <input type="text" name="user[username]" placeholder="username">
  <label>Password:</label>
  <input type="password" name="user[password]" placeholder="****">
  <input type="submit" value="Log In" />
</form>
