<form id="site" class="index" action='/users'method="post">
  <label>Username:</label><br>
  <input type="text" name="user[username]" placeholder="username"><br>
  <label>Password:</label><br>
  <input type="password" name="user[password]" placeholder="****"><br>
  <label>Name:</label><br>
  <input type="text" name="user[name]" placeholder="Name"><br>
  <label>Cell Number:</label><br>
  <input type="text" name="user[cell]" placeholder="cell"><br>
  <input type="submit" value="Sign Up!" />
</form>
