<form action='/users'method="post">
  <label>Username:</label>
  <input type="text" name="user[username]" placeholder="username">
  <label>Password:</label>
  <input type="password" name="user[password]" placeholder="****">
  <label>Name:</label>
  <input type="text" name="user[name]" placeholder="Name">
  <label>Cell Number:</label>
  <input type="text" name="user[cell]" placeholder="cell">
  <input type="submit" value="Sign Up!" />
</form>
